<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="@routes.JsRouter.javascriptRoutes"></script>
  </head>
  <body>
    <div id="app">
      <app></app>
    </div>
    <script type="x-template" id="task-list">
      <div>
        <div class="loading" v-if="isLoading">Loading...</div>
        <div v-if="error" class="error">
          {{ error }}
        </div>
        <table>
          <tr>
            <td>Title</td>
            <td>Created at</td>
          </tr>
          <tr v-for="value in tasks">
            <td>{{ value.title }}</td>
            <td>{{ value.createdAt }}</td>
          </tr>
        </table>
      </div>
    </script>
    <script src="@routes.Assets.versioned("javascripts/bundle.js")" type="text/javascript"></script>
  </body>
</html>