<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/vue/vue.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/vue-router/dist/vue-router.js")'></script>
  </head>
  <body>
    <div id="app">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
  <script type="text/javascript" src='@routes.Assets.versioned("js/main.js")'></script>
  </body>
</html>