<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>TODO App</title>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/vue/vue.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/vue-router/dist/vue-router.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("lib/axios/dist/axios.js")'></script>
  </head>
  <body>
    <table id="app" style="display:none">
      <tr>
        <td>Title</td>
        <td>Created at</td>
      </tr>
      <tr v-for="value in tasks">
        <td>{{ value.title }}</td>
        <td>{{ value.createdAt }}</td>
      </tr>
    </table>
    <script type="text/javascript" src='@routes.Assets.versioned("js/main.js")'></script>
  </body>
</html>